<h5 class="card-header info-color white-text text-center py-4">
<strong style='color:#0289C3'>ALL QUESTIONS</strong>
</h5>
<div style='margin-bottom:5%;'>
  <div class="row">
      <div class="col-md-12">
        <div class="well well-sm">
          <table class="table table-striped custab">
            <thead>
              <tr>
                <th>Question Text</th>
                <th>Category</th>
                <th>No. of options</th>
                <th class="text-center">Manage</th>
              </tr>
            </thead>
            <% @questions.each do |question| %>
              <tr>
                <td><%= question.text %></td>
                <td><%= question.category %></td>
                <td><%= question.options.count %></td>
                <td class="text-center">
                  <%= link_to 'Edit', edit_question_path(question) %></td>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
    </div>
  </div>
</div>
