<section class="hero">
    <div class="hero-content">
       <h1 class="hero-title">
            Discover the World
       </h1>
       <h2 class="hero-subtitle">
            We offer the best testing and reporting services for your next site!
       </h2>
       <%= link_to 'Start your assessment!', new_assessment_path, class: 'navbar-brand button' %>
    </div>
</section>