<section class="hero">
    <div class="hero-content">
       <h1 class="hero-hadings">
           The aim of this tool is to help different stakeholders in the redevelopment of brownfield sites to identify the potential hazards associated with such as sites.
       </h1>
       <h1 class="hero-hadings">
          In order to start the assessment, this tool requires background information on your site and its future use as inputs and produces a site report as output. The output will show the most likely hazards.
       </h1>
       <h1 class="hero-hadings" style='margin-bottom: 4%;'>
          <br>Please click on the button below to start your site assessment
       </h1>

       <%= link_to 'Start your assessment!', new_assessment_path, class: 'navbar-brand button' %>
    </div>
</section>