<h5 class="card-header info-color white-text text-center py-4">
  <strong style='color:white'>NEW ASSESSMENT</strong>
</h5>

<div class="container home-container">
  <div class="row row-content justify-content-center align-items-center">
    <div class="col-auto">
      A paragraph will be prepared
    </div>
  </div>

  <div class="questions-container">
    <% @options_hash.keys.each do |key| %>
      <div class="custom-question">
        <div class="row assessment-btn-row">
          <div class="col-12 col-sm-3">
            <div class="question-text">
              <span><%= key %></span>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="question-options">
              <%= select_tag key, options_for_select(@options_hash[key]), class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="submit-section">
    <%= button_tag 'Generate Report', class: 'btn btn-lg btn-success' %>
  </div>
</div>
