.answer-sec {
margin-bottom: 20%;
}
.row-content {
  padding: 10px 0px 50px 0px;
  background: #0289C3;
  color: white;
}

.home-container {
  margin-top: 5%
}

.home-img {
  width: 100%
}

.home-img-div {
  padding: 0 !important
}

.assessemnt-btn-row {
  margin-top: 5%;
  padding: 10px 0px 50px 0px;
}

.custom-nav {
  background: #0289C3;
  a {
    img {
      width: 33px
    }
  }
}

.start-assessment-btn {
  background: #0289C3;
  color: white !important;
  border-radius: 0px !important
}

.custom-question {
  margin-top: 5%
}

.question-text {
  background: #0289C3;
  color: white;
  padding: 10px 40px 10px 40px;
}

.question-options {
  padding: 10px 40px 10px 40px;
}

.submit-section {
  margin-left: 25%;
}

.tab {
  max-width: 25%
}

.active-content {
  max-width: 650px;
  width: 100%;
}

@media (max-width: 480px) {
  .home-container {
    margin-top: 20%
  }
}
th {
  color: #0289C3;
}

@import "variables";

@mixin flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

html,
body {
  min-height: 100%;
  background-color: #eef3f6;
}

body {
  color: $bodyTextClr;
  font-size: 14px;
}

[class*="col-"] {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 50px;
  padding-right: 15px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid $borderClr;
}

.btn-main {
  background: #0289C3 !important;
  font-size: 13px;
  color: $whiteClr !important;
  padding: 9px 20px;
  text-transform: uppercase;
  font-weight: 500;
  box-sizing: border-box;
  border: 0;
  border-bottom: 3px solid #337ab7;
}
.btn-large {
  background-color: green !important;
  padding: 13px 60px;
  float: right;
  margin-left: 5% !important;
}
.btn-main:hover,
.btn-main:focus,
.btn-main:active {
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
  color: $whiteClr;
  background: #0289C3 - 20;
  border: 0;
  border-bottom: 3px solid #337ab7;
  box-shadow: none;
}

label {
  color: #0289C3;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
  line-height: normal;
  font-weight: normal;
}

.printer-view {
  display: flex;
}

label.custom-radio-check {
  padding-right: 2px;
}

.btn-main.btn-large {
  margin-top: 40px;
  margin-bottom: 40px;
}

.content-area {
  margin: 25px 0 20px;
  padding-bottom: 20px;
  .working-content-area {
    max-width: 650px;
    width: 100%;
  }
}

.custom-radio-check {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  line-height: 20px;
  text-transform: capitalize;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: tranparent;
  border: 2px solid #eee;
  border-radius: 50%;
}

.custom-radio-check input:checked ~ .checkmark {
  border: 2px solid #01a6ff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radio-check {
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #01a6ff;
  }
}

.main-heading {
  font-size: 32px;
  padding-bottom: 20px;
  color: #0289C3;
  margin-bottom: 20px;
}

.radio-question {
  padding-left: 11% !important;
}

.radio-false {
  padding-left: 10%;
}

@media only screen and (max-width: 360px) {
  .outer {
    width: calc(100% - 183px);
  }
}

.question-block {
  display: contents;
  label {
    font-size: 11px;
  }
  .normal-label {
    background: #0a0765;
    color: white;
    padding: 3px;
    // padding-left: 5%;
    // padding-top: 1.1%;
    font-size: 12px;
    // border-radius: 25px;
    text-align: center;
    width: 24em !important;
    // height: 3.1em;
  }
}

.questions-area {
  margin: 0% 10% 0% 10%;
}

th {
  color: #0289C3;
}

.card-header {
  margin-left: 40%;
  margin-top: 3%;
  margin-bottom: 3% !important;
  width: 30%;
  border-radius: 25px;
  background-image: linear-gradient(15deg, #06445f 0%, #0289C3 100%) !important;
}
.remove-option {
  color: #0289C3;
  border: none;
  background: transparent;
}

.btn-tab {
  width: 100%;
  font-size: 13px !important;
  background: #0289C3 !important;
  border-radius: 20px !important;
  margin-bottom: 5%;
}

.show-container {
  margin-top: 1%
}

.category-row {
  margin-bottom: 2%;
}

.category-col {
  background: rgb(27, 58, 141);
  padding: 1%;
  border: inset;
  color: white;
  border-radius: 30px;
  text-align: center;
}

.option-image {
  width: 100%;
  margin-bottom: 6%
}

.shrink {
  -webkit-transform:scale(0.8);
  -moz-transform:scale(0.8);
  -ms-transform:scale(0.8);
  transform:scale(0.8);
}

.answer-card {
  padding: 2rem !important;
  min-height: 550px !important;
  height: auto;
  // overflow: scroll;
  max-height: 600px;
}

.answer-row {
  font-weight: 400;
  font-size: 20px;
  font-family: sans-serif;
  padding: 2%;
  margin-bottom: -5%;
}

.card-body {
  // background: #eef3f6 !important;
}

.selection {
  margin-bottom: 0 !important;
}
.card {

}